appdirs==1.4.4
async-timeout==3.0.1
CacheControl==0.12.10
certifi==2020.12.5
charset-normalizer==2.0.7
colorama==0.4.4
contextlib2==21.6.0
distlib==0.3.3
distro==1.6.0
html5lib==1.1
idna==3.3
jieba==0.42.1
json5==0.9.6
lockfile==0.12.2
msgpack==1.0.2
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
Pillow==8.1.2
prettytable==3.1.1
progress==1.6
pyaes==1.6.1
pyasn1==0.4.8
pyparsing==2.4.7
python-socks==1.2.4
qrcode==6.1
requests==2.26.0
retrying==1.3.3
rsa==4.8
six==1.16.0
Telethon==1.21.1
toml==0.10.2
tomli==1.2.2
ujson==1.35
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
